/* Pretty */

:root {
    --name-margin-left: 10%;
    --nav-bar-height: 50px;
    --logo-square-dim: 5vw;
    --shape-height: 30px;
    --global-accent: rgb(118, 204, 251);
    --text-theme-color: rgb(144, 144, 144);
    --statement-text-movement: 13%;
    --test-border: 1px, solid, black;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

@keyframes colorShift {
    from {
        background-color: white;
    }
    to {
        background-color: var(--global-accent);
    }
}

@keyframes colorShiftBack {
    from {
        background-color: var(--global-accent);
    }
    to {
        background-color: white;
    }
}

#nav-bar {
    background-color: white;
    height: var(--nav-bar-height);
    width: 100%;
    position: fixed;
    top: 0; /* Ensure the navbar is at the very top */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    z-index: 1000;
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
}

#nav-bar.shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}

#title-block {
    background: repeating-linear-gradient(35deg,
    hsl(330, 3%, 86%) 0px 2px,
    hsl(20, 6%, 91%) 0px 4px);
    margin-top: var(--nav-bar-height);
    position: absolute;
    width: 100vw;
    height: 23vw;
    transition: filter 0.5s ease; /* Smooth transition for blur effect */
}

#title-element-block {
    border: 1px, solid, black;
    width: 50vw;
    height: 19vw;
}

#firstname {
    font-family: 'Rubik', serif;
    font-size: 4.25vw;
    position: relative;
    left: var(--name-margin-left);
    top: 25%;
}

#lastname {
    position: relative;
    font-family: 'Rubik', serif;
    font-size: 6.7vw;
    left: var(--name-margin-left);
    top: 20%;
}

.titles {
    position: absolute;
    width: 45%;
    height: 15%;
    font-size: 1vw;
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#titles-container {
    position: absolute;
    height: 50%;
    width: 45%;
    left: 50%;
    top: 25%;
    display: flex;
    justify-content: center; /* Center horizontally */
}

#spacer {
    position: relative;
    font-family: 'Rubik', serif;
    left: 42%;
    bottom: 20%;
    font-size: 5vw;
}

.gill {
    border-radius: 15px;
    width: 10px;
    height: 70px;
    position: fixed;
    transform: rotate(30deg);
    background-color: rgb(226, 226, 226);
}

#statement-box {
    position: relative;
    width: 100%;
    height: 150px;
    top: 500px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: -50;
}

.statement {
    font-size: 3.4vw;
    z-index: -50;
    transition: filter 0.1s ease;
}

#shape-container {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 650px;
    display: flex;
    justify-content: center; /* Center horizontally */
}

.shape {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    margin: 50px;
    position: absolute;
    border-radius: 3px;
    z-index: -50;
}

.square {
    background-color: rgb(230, 229, 229);
    margin: 0;
}

.circle {
    background-color:  rgb(230, 229, 229);
    border-radius: 50%;
    margin: 0;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(230, 229, 229);
    margin: 0;
}

.logo {
    width: var(--logo-square-dim);
    height: var(--logo-square-dim);
}

.company-logo-box {
    position: absolute;
    height: var(--logo-square-dim);
    width: var(--logo-square-dim);
    border-radius: 5px;
    overflow: hidden;
    top: 1250px;
    opacity: 0;
    transition: opacity 1s ease-in-out, bottom 0.5s ease-in-out; /* Smooth transition */
}

.company-logo-box.visible {
    opacity: 1; /* Make visible */
    position: absolute;
}

.company-logo-box.stick {
    position: fixed; /* Make visible */
}

.cycle-text {
    position: absolute;
    opacity: 0;
    animation: cycle 9s linear infinite; /* Adjust the duration (9s) and timing as needed */
}

.cycle-text:nth-child(1) {
    animation-delay: 0s;
}

.cycle-text:nth-child(2) {
    animation-delay: 3s; /* Adjust this based on the number of text items and duration */
}

.cycle-text:nth-child(3) {
    animation-delay: 6s; /* Adjust this based on the number of text items and duration */
}

@keyframes cycle {
    0%, 100% { opacity: 0; }
    10%, 30% { opacity: 1; } /* Each keyframe represents 1/4 of the total animation duration */
    40%, 90% { opacity: 0; }
}

#numbers-text {
    font-size: 3vw;
    position: absolute;
    left: 0;
    top: 1700px;
    opacity: 0;
    color: var(--text-theme-color);
    transition: opacity 0.5s ease-in, left 1s ease-in-out, bottom 0.5s ease-in;
}

#numbers-text.visible-move {
    opacity: 1;
    left: var(--statement-text-movement);
    top: 1700px;
}

#numbers-text.stick {
    position: fixed;
    left: var(--statement-text-movement);
    top: 1700px;
    width: 100%;
}

#scholarship-box {
    /* border: var(--test-border); */
    position: absolute;
    top: 2000px;
    width: 100%;
    display: flex;
    opacity: 0;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* border: 1px, black, dotted; */
    height: 9vw;
    transition: opacity 0.7s ease-in, bottom 0.5s ease-in;
}

#scholarship-box.stick {
    position: fixed;
    top: 2000px;
    width: 100%;
}

#scholarship-box.visible {
    opacity: 1;
    top: 2000px;
    width: 100%;
}

#scholarship {
    position: absolute;
    font-size: 9vw;
    color: var(--global-accent);
}

#by-text {
    font-size: 2vw;
    position: relative;
    left: 8%;
    color: var(--text-theme-color);
    transition: opacity 0.5s ease-in, left 1s ease-in-out, bottom 0.5s ease-in;
    top: 70%;
}

#by-text-2 {
    font-size: 2vw;
    position: relative;
    left: 0;
    color: var(--text-theme-color);
    transition: opacity 0.5s ease-in, left 1s ease-in-out, bottom 0.5s ease-in;
    top: 100%;
}

#circle-container {
    position: absolute;
    border: var(--test-border);
    width: 100%;
    height: 30px;
    top: 3500px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: auto;
}

#background-sheet {
    position: absolute;
    background-color:  rgb(255, 255, 255);
    width: 100vw;
    height: 1000vw;
    top: 0;
    transform: translateY(-50%);
    z-index: -100;
}

@keyframes reduceWidth {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

@keyframes increaseWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/*
#scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow : hidden;
    width: 50%;
    position: relative;
    left: 43%;
    bottom: 60%;
    height: 50px;
  }

#scroll-text {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    font-family: 'Rubik', serif;
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
*/

h1 {
    margin: 0;
    font-family: 'Nunito Sans', serif;
}